.my-quote {
  text-align: center;
}
h1 {
  font-family: Impact;
  font-size: 80px;
  margin: 55px 0;
  font-weight: 700;
}
p {
  font-size: 35px;
  margin: 35px 0;
  font-family: "Times New Roman", Times, serif;
}
button {
  width: 250px;
  height: 80px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: green;
}
